<div class="footer">
  <center><h1><img src="https://cdn.shopify.com/s/files/1/2654/9698/files/Name_Logo2_250x@2x.png?v=1513726116" /></h1></center>
  <center><a class="standard-button" href="http://www.fresh-2u.myshopify.com">Shop Now!</a></center>
</div>
