<h2>Thanks <%= @member.email %>, you paid <strong><%= number_to_currency(@amount) %></strong>!</h2>
<p>Here is your Fresh2U Plus membership number it is valid for a full year!</p>
<p><%= @promo_code %></p>
