<div class="container">
  <h1>Be Fresh and Join Today!</h1>
  <p>By becoming a Fresh2U Plus member, you'll recieve a unique promo code for 15% off all purchases and orders! You'll also get access to a weekly newsletter, with updates on our current products, and be the first to know about new products! Being a Fresh2U Plus member also enters you into our giveaways, where you'll have a chance to receive free products and merchandise!</p>
  <%= form_tag(charges_path) do |f| %>
    <h3>Only <%= number_to_currency(@amount.to_f/100.to_f) %></h3>
    <h3>Account Information</h3>
    <label>
      Password:
      <br/>
      <input type="password" id="password" name="password">
    </label>
    <label>
      Confirm Password:
      <br/>
      <input type="password" id="confirm" name="confirm">
    </label>
    <p>Pay securely using Stripe.</p>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Fresh2U Plus"
          data-amount="<%= @amount %>"
          data-locale="auto"></script>
  <% end %>
</div>
